

<div class="container my-4">  

    <div class="calculator card">
    
    <input type="text" class="calculator-screen z-depth-1" value="{{ numberOne }} {{ mathOperation }} {{ numberTwo }}" disabled />
    <div *ngIf="calcRezult !=  0">
      <input type="text"   class="calculator-screen z-depth-1" value="= {{ calcRezult }}" disabled />
    </div>
    
       
    
        <div class="calculator-keys">

          <button type="button" *ngFor="let enum of mathOper | keyvalue" #oper class="operator btn btn-info" value="{{ enum.value }}" (click)="getValue (oper.value)">{{ enum.value }}</button>
  

          <button *ngFor="let item of listOfoNumbers" type="button" #key value="{{ item }}" class="btn btn-light waves-effect" (click)="getValue (key.value)">{{ item }}</button>
    
          <button type="button" #decimal class="decimal function btn btn-secondary" value="." (click)="getValue (decimal.value)">.</button>
          <button type="button" #clear class="all-clear function btn btn-danger btn-sm" value="clear" (click)="clearRezult (clear.value)">AC</button>
    
          <button type="button" #equal class="equal-sign operator btn btn-default" value="=" (click)=" equalFun (equal.value)">=</button>
    
        </div>
      </div>
    </div>
